---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import logoAlex from '../images/logoAlex.svg'
import LinkedInIcon from '../Icon/Linkedin.astro'
import SocialPill from '../components/SocialPill.astro';
import GitHubIcon from '../Icon/GitHub.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<!--colocar al div lg:w-[1280px]  !-->
		<div class="w-full flex flex-col justify-between items-center gap-16 mt-9 max-w-[1280px] lg:flex-row-reverse lg:min-w-[1024px] xl:min-w-[1280px]">
			
			<section>
				<Image src={logoAlex} alt='Logo' class="w-80 h-80 lg:w-[428px] lg:h-[428px]"/>
			</section>
			<section class="flex flex-col gap-6  max-w-[550px]">
				<h1 class="text-white  text-5xl font-black">Hey, soy Alexis</h1>
				<h2 class="text-lg text-opacity-80">
					<strong class="text-blue-600">Desarrollador Front-End</strong> 
					de Buenos Aires, Argentina. Especializado en aplicaciones web responsivas que brindan experiencias de usuario significativas.
				</h2>
				
				<nav class="flex gap-x-2">
					<SocialPill href="https://www.linkedin.com/in/alexischebeste/" >
						<LinkedInIcon class="w-4 h-4"/> 
						Linkedin 
					</SocialPill>
					<SocialPill href="https://github.com/AlexisChebeste" >
						<GitHubIcon class="w-4 h-4"/> 
						GitHub
					</SocialPill>
				</nav>
				<a href="http://" target="_blank" class="bg-blue-600  px-5 py-3 rounded-full flex justify-center items-center w-max hover:scale-110 hover:bg-white hover:text-black transition">Descargar CV</a>
			</section>
		</div>
		
	</main>
</Layout>

<style>
	
</style>
