---
import ToggleTheme from "./ToggleTheme.astro"
---

<header class="flex justify-center px-3 py-5  w-full max-w-7xl  ">
    <nav class="flex flex-row gap-2 justify-between  px-4 py-2 border border-gray-300 dark:border-gray-700 bg-gray-100 dark:bg-slate-800 lg:dark:bg-transparent text-gray-700 dark:text-gray-200 rounded-full lg:w-full lg:justify-end lg:bg-transparent lg:border-none sm:gap-4"  >
        <a href="#top" class="hover:text-blue-500 transition ">Inicio</a>
        <a href="#sobre-mí" class="hover:text-blue-500 transition ">Sobre mí</a>
        <a href="#proyectos" class="hover:text-blue-500 transition ">Proyectos</a>
        <a href="#contacto" class="hover:text-blue-500 transition ">Contacto</a>
        <ToggleTheme />
    </nav>
</header>


  