---
import SkillBadge from './SkillBadge.astro';

import HtmlIcon  from '../Icon/skills/Html.astro';
import CssIcon  from '../Icon/skills/Css.astro';
import JavaScriptIcon  from '../Icon/skills/JavaScript.astro';
import TypeScriptIcon  from '../Icon/skills/TypeScript.astro';
import ReactIcon  from '../Icon/skills/React.astro';
import AstroIcon  from '../Icon/skills/AstroIcon.astro';
import TailwindCssIcon  from '../Icon/skills/TailwindCss.astro';

const SKILLS = [
	{
		icon: HtmlIcon,
		title: "Html"
	},
	{
		icon: CssIcon,
		title: "Css"
	},
	{
		icon: JavaScriptIcon,
		title: "JavaScript"
	},
	{
		icon: TypeScriptIcon,
		title: "TypeScript"
	},
	{
		icon: ReactIcon,
		title: "React"
	},
	{
		icon: AstroIcon,
		title: "Astro"
	},
	{
		icon: TailwindCssIcon,
		title: "TailwindCss"
	}
]
---

<div class="flex flex-row gap-5 flex-wrap w-full max-w-7xl">
	
	{
		SKILLS.map(({icon: IconComponent,title}) =>(
			<SkillBadge>
				<IconComponent class="size-4"/> 
				{title}
			</SkillBadge>
		))
	}
		

</div>
