---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';
import '@fontsource/inter/900.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Porfolio de Alexis Chebeste, desarrollador Front-End" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-black dark:text-white  dark:bg-[#121417]">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>

	:root{
		color-scheme: light dark;
	}

	html{
  		font-family: 'Inter', sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background: rgb(252, 251, 245);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	p{
		font-size:16px;
	}

	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
</style>

